/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : xxxxxx
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/17 19:49
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
html{
    background: rgb(52,6,8);
    background: rgb(172,30,46);
    background: rgb(0,71,39);
    background: rgb(7,67,35);
    background: rgb(30,90,69);
    background: rgb(60,60,65);
    background: rgb(5,0,0);
    background: rgb(58,10,8);
    background: rgb(27,3,3);
    background: rgb(77,31,35);
    background: rgb(211,73,50);
    background: rgb(240,135,29);
    background: rgb(72,192,234);
    background: rgb(189,214,57);
    background: rgb(90,89,40);
    background: rgb(72,36,36);
    background: rgb(94,49,143);
    background: rgb(20,30,63);
    background: rgb(69,43,31);
    background: rgb(129,26,31);
    background: rgb(57,39,38);
    background: rgb(205,39,206);
    background: rgb(205,184,206);

}