/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : 求职简历样式表
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/10 13:39
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
.container {
    position:relative;
    margin:0 auto;
    max-width:960px;
    min-width:320px;
    border:1px solid rgb(0,0,0);
    overflow: hidden;
}
.container > div {
    width:100%;
    margin:0 auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
   /* border:0.09rem solid rgb(203,75,108);*/
}
.container > div > .content {
    margin-top: 0.5rem;
}
.container > div > .header {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    width:100%;
    height:3rem;
    line-height:4.4rem;
    font-weight:bolder;
    border-bottom:0.09rem solid rgb(72,192,234);
    background:rgb(35,33,29);
}
.resume {
    width:100%;
    height:30rem;
    background:rgb(35,33,15);
    margin-bottom:0.5rem;
}
.container > .resume > .content {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;

    width:10rem;
    height:10rem;
    overflow: hidden;
    line-height:5rem;
    border-radius: 50%;
    border:0.5rem solid white;
    text-align: center;
    -webkit-animation: resume 6.18s linear 0.5s infinite alternate;
    -moz-animation: resume 6.18s linear 0.5s infinite alternate;
    animation: resume 6.18s linear 0.5s infinite alternate;
}
@-moz-keyframes resume {
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0.2rem 0.2rem rgb(211,73,50),
                -0.1rem -0.1rem 0.2rem 0.2rem rgb(240,135,29),
                -0.1rem 0.1rem 0.2rem 0.2rem rgb(72,192,234),
                0.1rem -0.1rem 0.2rem 0.2rem rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0.16rem 0.2rem rgb(211,73,50),
                -0.2rem -0.2rem 0.16rem 0.2rem rgb(240,135,29),
                -0.2rem 0.2rem 0.16rem 0.2rem rgb(72,192,234),
                0.2rem -0.2rem 0.16rem 0.2rem rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0.12rem 0.2rem rgb(211,73,50),
                -0.4rem -0.4rem 0.12rem 0.2rem rgb(240,135,29),
                -0.4rem 0.4rem 0.12rem 0.2rem rgb(72,192,234),
                0.4rem -0.4rem 0.12rem 0.2rem rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0.09rem 0.2rem rgb(211,73,50),
                -0.6rem -0.6rem 0.09rem 0.2rem rgb(240,135,29),
                -0.6rem 0.6rem 0.09rem 0.2rem rgb(72,192,234),
                0.6rem -0.6rem 0.09rem 0.2rem rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px 0.2rem rgb(211,73,50),
                -0.8rem -0.8rem 0px 0.2rem rgb(240,135,29),
                -0.8rem 0.8rem 0px 0.2rem rgb(72,192,234),
                0.8rem -0.8rem 0px 0.2rem rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px 0.2rem rgb(211,73,50),
                -1rem -1rem 0px 0.2rem rgb(240,135,29),
                -1rem 1rem 0px 0.2rem rgb(72,192,234),
                1rem -1rem 0px 0.2rem rgb(189,214,57);
    }
}
@-webkit-keyframes resume {
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0.2rem 0.2rem rgb(211,73,50),
                -0.1rem -0.1rem 0.2rem 0.2rem rgb(240,135,29),
                -0.1rem 0.1rem 0.2rem 0.2rem rgb(72,192,234),
                0.1rem -0.1rem 0.2rem 0.2rem rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0.16rem 0.2rem rgb(211,73,50),
                -0.2rem -0.2rem 0.16rem 0.2rem rgb(240,135,29),
                -0.2rem 0.2rem 0.16rem 0.2rem rgb(72,192,234),
                0.2rem -0.2rem 0.16rem 0.2rem rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0.12rem 0.2rem rgb(211,73,50),
                -0.4rem -0.4rem 0.12rem 0.2rem rgb(240,135,29),
                -0.4rem 0.4rem 0.12rem 0.2rem rgb(72,192,234),
                0.4rem -0.4rem 0.12rem 0.2rem rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0.09rem 0.2rem rgb(211,73,50),
                -0.6rem -0.6rem 0.09rem 0.2rem rgb(240,135,29),
                -0.6rem 0.6rem 0.09rem 0.2rem rgb(72,192,234),
                0.6rem -0.6rem 0.09rem 0.2rem rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px 0.2rem rgb(211,73,50),
                -0.8rem -0.8rem 0px 0.2rem rgb(240,135,29),
                -0.8rem 0.8rem 0px 0.2rem rgb(72,192,234),
                0.8rem -0.8rem 0px 0.2rem rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px 0.2rem rgb(211,73,50),
                -1rem -1rem 0px 0.2rem rgb(240,135,29),
                -1rem 1rem 0px 0.2rem rgb(72,192,234),
                1rem -1rem 0px 0.2rem rgb(189,214,57);
    }
}
@keyframes resume {
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0.2rem 0.2rem rgb(211,73,50),
                -0.1rem -0.1rem 0.2rem 0.2rem rgb(240,135,29),
                -0.1rem 0.1rem 0.2rem 0.2rem rgb(72,192,234),
                0.1rem -0.1rem 0.2rem 0.2rem rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0.16rem 0.2rem rgb(211,73,50),
                -0.2rem -0.2rem 0.16rem 0.2rem rgb(240,135,29),
                -0.2rem 0.2rem 0.16rem 0.2rem rgb(72,192,234),
                0.2rem -0.2rem 0.16rem 0.2rem rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0.12rem 0.2rem rgb(211,73,50),
                -0.4rem -0.4rem 0.12rem 0.2rem rgb(240,135,29),
                -0.4rem 0.4rem 0.12rem 0.2rem rgb(72,192,234),
                0.4rem -0.4rem 0.12rem 0.2rem rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0.09rem 0.2rem rgb(211,73,50),
                -0.6rem -0.6rem 0.09rem 0.2rem rgb(240,135,29),
                -0.6rem 0.6rem 0.09rem 0.2rem rgb(72,192,234),
                0.6rem -0.6rem 0.09rem 0.2rem rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px 0.2rem rgb(211,73,50),
                -0.8rem -0.8rem 0px 0.2rem rgb(240,135,29),
                -0.8rem 0.8rem 0px 0.2rem rgb(72,192,234),
                0.8rem -0.8rem 0px 0.2rem rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px 0.2rem rgb(211,73,50),
                -1rem -1rem 0px 0.2rem rgb(240,135,29),
                -1rem 1rem 0px 0.2rem rgb(72,192,234),
                1rem -1rem 0px 0.2rem rgb(189,214,57);
    }
}
.resume > .content > div {
    height:5rem;
    width:100%;
    background:rgb(35,33,29);
}
.resume > .content > .name {
    font-size:2rem;
    font-weight:bolder;
    color:rgb(72,192,234);/*rgb(237,233,62)*/
    line-height:7rem;
    border-bottom:2px dashed white;
}
.resume > .content > .name > span:nth-child(1) {
    font-size:1.2rem;
    color:rgb(240,135,29);
}
.resume > .content > .name > span:nth-child(2) {
    display: inline-block;
    font-size:0.5rem;
    width:1.2rem;
    height:1.2rem;
    line-height:1.2rem;
    color:rgb(72,192,234);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:0.09rem solid rgb(72,192,234);
    +border:1px solid rgb(72,192,234);
}
.resume > .content > .title {
    font-size:1.17rem;
    line-height:1.8rem;
    font-weight:700;
    color:rgb(189,214,57);
}
.container > div > .header > p {
    display:inline-block;
    width:2rem;
    height:2rem;
    line-height:2rem;
    font-size:1.8rem;
    text-align: center;
    color: rgb(72,192,234);
    border-bottom:0.2rem solid rgb(240,135,29);/*rgb(203,75,108)*/
}
.base_info {
    height:auto;
    background: rgb(4,0,0);

}
.base_info > .header {
    color:rgb(211,73,50);
}
.base_info > .content > .avatar{
    position:relative;
    margin-top:0.5rem;
    margin-bottom:0.15rem;
    overflow:hidden;

}
.base_info > .content > .avatar > .mask {
    position:absolute;
    z-index:99;
    top:0.5rem;
    left:0.4rem;
    width:2rem;
    height:2rem;
    background:orangered;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height:2rem;
}
.row_list  li {
    width:100%;
    min-height: 3rem;
    line-height:3rem;
    background:rgb(35,33,29);
    border:0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.row_list  li > span {
    display:inline-block;
    background:rgb(35,33,29);
}
.row_list  li > span:nth-child(1) {
    height:100%;
    width:18%;
    text-align: center;
}
.row_list  li > span:nth-child(2){
    padding-left:1%;
    width:80%;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius:  0.15rem;
}
.row_list  li:nth-child(4n) > span:nth-child(2){
    border-left:0.15rem solid rgb(230,111,27);
}
.row_list  li:nth-child(4n+1) > span:nth-child(2){
    border-left:0.15rem solid rgb(72,192,234);
}
.row_list  li:nth-child(4n+2) > span:nth-child(2){
    border-left:0.15rem solid rgb(211,73,50);
}
.row_list  li:nth-child(4n+3) > span:nth-child(2){
    border-left:0.15rem solid rgb(189,214,57);
}
.education {
    height:auto;
}
.education > .header{
    margin-top:0.5rem;
    background: rgb(5,0,0) !important;
}
.education > .content {
    margin-top:0.5rem;
}
.school {
    width:100%;
    font-size:1.2rem;
    text-align:center;
    line-height:2rem;
    background: rgb(35,33,29);
    border: 0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.school > .title {
    position: relative;
    width:100%;
    line-height:3rem;
    height:3rem;
    background: rgb(35,33,29);
    border-bottom: 0.09rem solid rgb(25,19,22);
}
.school > .title > span {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:inline-block;
}
.school > .major {
    height:2rem;
    width:100%;
    background: rgb(35,33,29);
    border-bottom: 0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.school > .major > span {
    display: inline-block;
    width:48%;
}
.school > .title > span:nth-child(1) {
    width:30%;
    z-index:99;
    background: rgb(35,33,29);
    border-top:0.1rem solid orange;
    border-bottom:0.1rem solid orange;
}
.school > .title > .line {
    width:60%;
    height:0.09rem;
    background:orangered;
    border:0;
}
.school > .main {
    text-align: left;
    padding:0.5rem;
}
.num_list li{
    position:relative;
    width:100%;
    height:4rem;
    line-height:4rem;
    background:rgb(35,33,29);
    border:0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.num_list li >.num {
    position: absolute;
    left:0;
    top:0;
    z-index:99;
    width:15%;
    text-align: center;
}
.num_list li:nth-child(4n) > .num{
    background: rgb(230,111,27);
}
.num_list li:nth-child(4n+1) > .num{
    background:rgb(72,192,234);
}
.num_list li:nth-child(4n+2) > .num{
    background: rgb(211,73,50);
}
.num_list li:nth-child(4n+3) > .num{
    background: rgb(189,214,57);
}
.num_list li >.content{
    position: absolute;
    left:15%;
    top:0;
    width:89%;
    line-height:2rem;
    height:4rem;
    padding:0 0.2rem;
}

/*
position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
*/