/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : xxxxxx
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/17 19:49
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
html{
    background: rgb(52,6,8);
    background: rgb(172,30,46);
    background: rgb(0,71,39);
    background: rgb(7,67,35);
    background: rgb(30,90,69);
    background: rgb(60,60,65);
    background: rgb(5,0,0);
    background: rgb(58,10,8);
    background: rgb(27,3,3);
    background: rgb(77,31,35);
    -webkit-box-shadow:
            0.8rem 0.8rem 0px 0.2rem rgb(211,73,50),
            -0.8rem -0.8rem 0px 0.2rem rgb(240,135,29),
            -0.8rem 0.8rem 0px 0.2rem rgb(72,192,234),
            0.8rem -0.8rem 0px 0.2rem rgb(189,214,57);
}