/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : 求职简历样式表
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/10 13:39
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
.container {
    max-width: 960px;
    min-width:320px;
    border:1px solid orangered;
    margin:0 auto;
    position: relative;
    height:100%;
}
.resume {
    position: relative;
    width:100%;
    height:auto;
    border:1px solid yellowgreen;/*
    background-image:-webkit-linear-gradient(360deg,rgb(27,3,3),rgb(72,192,234));*/
    background-image:linear-gradient(180deg,rgb(5,2,2),rgb(13,8,34));
}
.resume > .top {
    margin:0 auto;
    width:80%;
    height:38.2%;
    line-height:inherit;
    overflow: hidden;
}
.resume > .top > a {
    position: relative;
    top:50%;
    font-size:2rem;
    color:rgb(189,214,57);
    -webkit-animation: neon1 5s ease-in-out infinite alternate;
    -moz-animation: neon1 5s ease-in-out infinite alternate;
    animation: neon1 5s ease-in-out infinite alternate;
   /* text-shadow: 0.055559rem 0.055559rem rgb(240,135,29),0.1666667rem 0.1666667rem rgb(72,192,234),9px 9px 2px rgb(255,255,255);*/
}
/*
    orange  color:rgb(240,135,29);
    blue ：  color:rgb(72,192,234);
    yellowcreen  color:rgb(189,214,57);
    white :  color:rgb(255,255,255);

*/
@-webkit-keyframes neon1 {
    from {
        -webkit-transform: scale(1.0);
        color:rgb(240,135,29);
    }
    to {
        -webkit-transform: scale(1.2);
        color:rgb(72,192,234);
    }
}
@-moz-keyframes neon1 {
    from {
        -moz-transform: scale(1.0);
        color:rgb(240,135,29);
    }
    to {
        -moz-transform: scale(1.2);
        color:rgb(72,192,234);
    }
}
@keyframes neon1 {
    from {
        transform: scale(1.0);
        color:rgb(240,135,29);
    }
    to {
        transform: scale(1.2);
        color:rgb(72,192,234);
    }
}
.resume > .top > a:nth-child(2):hover{
    -webkit-transform: translate(1024px,-5px) scale(1.2) rotate(45deg);
    -moz-transform: translate(1024px,-5px) scale(1.2) rotate(45deg);
    -ms-transform: translate(1024px,-5px) scale(1.2) rotate(45deg);
    -o-transform: translate(1024px,-5px) scale(1.2) rotate(45deg);
    transform: translate(1024px,-5px) scale(1.2) rotate(45deg);
}
.resume > .bottom{
    margin:0 auto;
    width:80%;
    height:61.8%;
    line-height:100%;
    border:1px solid yellowgreen;
}

/*
.resume:after{
    content: " ";
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid yellow;
    position: absolute;
    left:95%;
    top:95%;
}
.resume:before{
    content: " ";
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid yellow;
    position: absolute;
    left:-100px;
    top:-50px;
}*/