/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : basic css
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/28 14:41
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
/*basic reset css*/
*, html, body, div, span {  margin:0; padding:0; box-sizing: border-box; }
html {  font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; }
img { display:block; border:0; }
ul,ol,li{ list-style: none; margin:0; padding:0; }
a:link,a:visited,a:hover,a:active { text-decoration:none; display:inline-block; color:rgb(255,255,255); -webkit-tap-highlight-color: rgba(255,0,0,0.5); }


/*resume css start*/
.container {
    position: relative;
    margin: 0 auto;
    min-width:320px;
    max-width:960px;
    height:10000px;
    background:rgb(5,0,0);
    overflow: hidden;
    color:white;
}
.mask {
    position:absolute;
    z-index:888;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    perspective: 75px;
}
.mask > .item{
    display: inline-block;
    position: absolute;
    z-index:999;
    color: white;
    text-align: center;
    font-size:0.8rem;
}
.cover {
    position:relative;
    background: rgb(27,3,3);;
}
.cover > .item {
    position: absolute;
    text-align: center;
}
.cover > .item > span {
    display:inline-block;
    font-size:1rem;
}
.cover > .item.resume > span {
    border-radius: 50%;
    border:0.09rem solid white;
    border-top-color:rgb(240,135,29);
    border-right-color:rgb(72,192,234);
    border-bottom-color:rgb(211,73,50);
    border-left-color:rgb(189,214,57);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    font-size:1.2rem;
}
/**animation section*/
.cover > .jump_up > span {
    animation: jump_up linear 2s  infinite alternate ;
}
.cover > .jump_down > span {
    animation: jump_down linear 4s 4s infinite alternate ;
}

.anim_fade_out {
    animation:fade_out ease 2s 0.5s 1 forwards;
}
.anim_fade_in {
    animation:fade_in ease 2s 0.5s 1 forwards;
}
@keyframes fade_out{
    from {
        transform: translateX(0rem)  translateZ(0rem)  scale(1);
    }
    to {
        transform: translateX(26.7rem)   translateZ(1rem) scale(0.5);
    }
}
@keyframes fade_in{
    from {
        transform: translateX(26.7rem)   translateZ(1rem) scale(1.5);
    }
    to {
        opacity: 1;
        transform: translateX(0rem)  translateZ(0rem)  scale(1);
    }
}
@-webkit-keyframes jump_down {
    0% {
        -webkit-transform: scale(0.8);
    }
    50%{
        -webkit-transform: scale(0.4);
    }
    100%{
        -webkit-transform: scale(0.8);
    }
}
@-moz-keyframes jump_down {
    0% {
        -moz-transform: scale(0.8);
    }
    50%{
        -moz-transform: scale(0.4);
    }
    100%{
        -moz-transform: scale(0.8);
    }
}
@-ms-keyframes jump_down {
    0% {
        -ms-transform: scale(0.8);
    }
    50%{
        -ms-transform: scale(0.4);
    }
    100%{
        -ms-transform: scale(0.8);
    }
}
@-o-keyframes jump_down {
    0% {
        -o-transform: scale(0.8);
    }
    50%{
        -o-transform: scale(0.4);
    }
    100%{
        -o-transform: scale(0.8);
    }
}
@keyframes jump_down {
    0% {
        transform: scale(0.8);
    }
    50%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(0.8);
    }
}

@-webkit-keyframes jump_up {
    from {
        -webkit-transform: scale(0.8) translateY(0rem);
    }
    to{
        -webkit-transform: scale(0.8) translateY(-2rem);
    }
}
@-moz-keyframes jump_up {
    from {
        -moz-transform: scale(0.8) translateY(0rem);
    }
    to{
        -moz-transform: scale(0.8) translateY(-2rem);
    }
}
@-ms-keyframes jump_up {
    from {
        -ms--ms-transform: scale(0.8) translateY(0rem);
    }
    to{
        -ms-transform: scale(0.8) translateY(-2rem);
    }
}
@-o-keyframes jump_up {
    from {
        -o-transform: scale(0.8) translateY(0rem);
    }
    to{
        -o-transform: scale(0.8) translateY(-2rem);
    }
}
@keyframes jump_up {
    from {
        transform: scale(0.8) translateY(0rem);
    }
    to{
        transform: scale(0.8) translateY(-2rem);
    }
}