/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : 求职简历样式表
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/10 13:39
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
.container
{
    position:relative;
    margin:0 auto;
    max-width:960px;
    min-width:320px;
    border:1px solid white;
}
.container > div
{
    width:98%;
    border:1px solid white;
    margin:0 auto;
    position: relative;
}
.resume > .content
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;

    width:10rem;
    height:10rem;
    overflow: hidden;
    line-height:5rem;
    border-radius: 50%;
    border:0.5rem solid white;
    text-align: center;
    -webkit-animation: resume 6.18s linear 0.5s 1 normal forwards;
    -moz-animation: resume 6.18s linear 0.5s 1 normal forwards;
    animation: resume 6.18s linear 0.5s 1 normal forwards;
}
@-webkit-keyframes resume
{
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0px rgb(211,73,50),
                -0.1rem -0.1rem 0px rgb(240,135,29),
                -0.1rem 0.1rem 0px rgb(72,192,234),
                0.1rem -0.1rem 0px rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0px rgb(211,73,50),
                -0.2rem -0.2rem 0px rgb(240,135,29),
                -0.2rem 0.2rem 0px rgb(72,192,234),
                0.2rem -0.2rem 0px rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0px rgb(211,73,50),
                -0.4rem -0.4rem 0px rgb(240,135,29),
                -0.4rem 0.4rem 0px rgb(72,192,234),
                0.4rem -0.4rem 0px rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0px rgb(211,73,50),
                -0.6rem -0.6rem 0px rgb(240,135,29),
                -0.6rem 0.6rem 0px rgb(72,192,234),
                0.6rem -0.6rem 0px rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px rgb(211,73,50),
                -0.8rem -0.8rem 0px rgb(240,135,29),
                -0.8rem 0.8rem 0px rgb(72,192,234),
                0.8rem -0.8rem 0px rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px rgb(211,73,50),
                -1rem -1rem 0px rgb(240,135,29),
                -1rem 1rem 0px rgb(72,192,234),
                1rem -1rem 0px rgb(189,214,57);
    }
}
@-moz-keyframes resume
{
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0px rgb(211,73,50),
                -0.1rem -0.1rem 0px rgb(240,135,29),
                -0.1rem 0.1rem 0px rgb(72,192,234),
                0.1rem -0.1rem 0px rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0px rgb(211,73,50),
                -0.2rem -0.2rem 0px rgb(240,135,29),
                -0.2rem 0.2rem 0px rgb(72,192,234),
                0.2rem -0.2rem 0px rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0px rgb(211,73,50),
                -0.4rem -0.4rem 0px rgb(240,135,29),
                -0.4rem 0.4rem 0px rgb(72,192,234),
                0.4rem -0.4rem 0px rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0px rgb(211,73,50),
                -0.6rem -0.6rem 0px rgb(240,135,29),
                -0.6rem 0.6rem 0px rgb(72,192,234),
                0.6rem -0.6rem 0px rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px rgb(211,73,50),
                -0.8rem -0.8rem 0px rgb(240,135,29),
                -0.8rem 0.8rem 0px rgb(72,192,234),
                0.8rem -0.8rem 0px rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px rgb(211,73,50),
                -1rem -1rem 0px rgb(240,135,29),
                -1rem 1rem 0px rgb(72,192,234),
                1rem -1rem 0px rgb(189,214,57);
    }
}
@keyframes resume
{
    0%{
        -webkit-box-shadow:
                0.1rem 0.1rem 0px rgb(211,73,50),
                -0.1rem -0.1rem 0px rgb(240,135,29),
                -0.1rem 0.1rem 0px rgb(72,192,234),
                0.1rem -0.1rem 0px rgb(189,214,57);
    }
    20%{
        -webkit-box-shadow:
                0.2rem 0.2rem 0px rgb(211,73,50),
                -0.2rem -0.2rem 0px rgb(240,135,29),
                -0.2rem 0.2rem 0px rgb(72,192,234),
                0.2rem -0.2rem 0px rgb(189,214,57);
    }
    40%{
        -webkit-box-shadow:
                0.4rem 0.4rem 0px rgb(211,73,50),
                -0.4rem -0.4rem 0px rgb(240,135,29),
                -0.4rem 0.4rem 0px rgb(72,192,234),
                0.4rem -0.4rem 0px rgb(189,214,57);
    }
    60%{
        -webkit-box-shadow:
                0.6rem 0.6rem 0px rgb(211,73,50),
                -0.6rem -0.6rem 0px rgb(240,135,29),
                -0.6rem 0.6rem 0px rgb(72,192,234),
                0.6rem -0.6rem 0px rgb(189,214,57);
    }
    80%{
        -webkit-box-shadow:
                0.8rem 0.8rem 0px rgb(211,73,50),
                -0.8rem -0.8rem 0px rgb(240,135,29),
                -0.8rem 0.8rem 0px rgb(72,192,234),
                0.8rem -0.8rem 0px rgb(189,214,57);
    }
    100%{
        -webkit-box-shadow:
                1rem 1rem 0px rgb(211,73,50),
                -1rem -1rem 0px rgb(240,135,29),
                -1rem 1rem 0px rgb(72,192,234),
                1rem -1rem 0px rgb(189,214,57);
    }
}
.resume > .content > div
{
    height:5rem;
    width:100%;
    background:rgb(35,33,29);
}
.resume > .content > .name
{
    font-size:2rem;
    font-weight:bolder;
    color:rgb(72,192,234);/*rgb(237,233,62)*/
    line-height:7rem;
    border-bottom:2px dashed white;
}
.resume > .content > .name > span:nth-child(1)
{
    font-size:1.2rem;
    color:rgb(240,135,29);
}
.resume > .content > .name > span:nth-child(2)
{
    display: inline-block;
    font-size:0.5rem;
    width:1.2rem;
    height:1.2rem;
    line-height:1.2rem;
    color:rgb(72,192,234);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:0.05rem solid rgb(72,192,234);
}
.resume > .content > .title {
    font-size:1.17rem;
    line-height:1.8rem;
    color:rgb(189,214,57);
}
.base_info
{
    height:10rem;
    border:1px solid white;
    background: rgb(4,0,0);
}
.base_info > .header
{
    font-size: 1.0rem;
    width:100%;
    height:2rem;
    line-height:2rem;
    font-weight:bolder;
    border-bottom:0.05rem solid rgb(203,75,108);
    overflow: hidden;

}
.base_info > .header > p
{
    display: inline-block;
    width:2rem;
    height:2rem;
    line-height:1.8rem;
    font-size:1.8rem;
    text-align: center;
    color: rgb(203,75,108);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border:0.05rem dashed white;
}