/**
 * +----------------------------------------------------------------------
 * | @[author   ] : foxkk
 * +----------------------------------------------------------------------
 * | @[describe ] : basic css
 * +----------------------------------------------------------------------
 * | @[datatime ] : 2017/11/28 14:41
 * +----------------------------------------------------------------------
 * | @[contact  ] : QQ876809986
 * +----------------------------------------------------------------------
 * | @[copyright] : foxkk@copyright
 * +----------------------------------------------------------------------
 **/
/*basic reset css*/
*, html, body, div, span, p{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {  font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; }
img { display:block; border:0; }
ul,ol,li{ list-style: none; margin:0; padding:0; }
a:link,a:visited,a:hover,a:active { text-decoration:none; display:inline-block; color:rgb(255,255,255); -webkit-tap-highlight-color: rgba(255,0,0,0.5); }


/*resume css start*/
.container {
    position: relative;
    margin: 0 auto;
    min-width:320px;
    max-width:960px;
    height:10000px;
    background:rgb(5,0,0);
    overflow: hidden;
    color:white;
}
.mask {
    position:absolute;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    perspective: 75px;
    z-index:999;
}
.mask > .item{
    display: inline-block;
    position: absolute;
    z-index:999999999;
    color: white;
    text-align: center;
    font-size:0.8rem;
}
.cover {
    position:relative;
    background: rgb(27,3,3);;
    border-bottom: 1rem solid rgb(35,33,29);
}
.cover > .item {
    position: absolute;
    text-align: center;
}
.cover > .item > span {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    display:inline-block;
    font-size:1.2rem;
    font-weight: 700;
}
.cover > .item.resume > span {
    border-radius: 50%;
    border:0.1rem solid white;
    border-top-color:rgb(240,135,29);
    border-right-color:rgb(72,192,234);
    border-bottom-color:rgb(217,62,93);
    border-left-color:rgb(189,214,57);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    font-size:1.5rem;
}
/**animation section*/
.cover > .jump_up > span {
    -webkit-animation: jump_up linear 2s  infinite alternate ;
    -moz-animation: jump_up linear 2s  infinite alternate ;
    -ms-animation: jump_up linear 2s  infinite alternate ;
    -o-animation: jump_up linear 2s  infinite alternate ;
    animation: jump_up linear 2s  infinite alternate ;
}
.cover > .jump_down > span {
    -webkit-animation: jump_down linear 4s 4s infinite alternate ;
    -moz-animation: jump_down linear 4s 4s infinite alternate ;
    -ms-animation: jump_down linear 4s 4s infinite alternate ;
    -o-animation: jump_down linear 4s 4s infinite alternate ;
    animation: jump_down linear 4s 4s infinite alternate ;
}
.container > div > .header {
    font-size: 1.1rem;
    width:100%;
    height:3rem;
    font-weight:600;
    background:rgb(5,2,4);
}
.container > div > .content {
    margin-top: 0.5rem;
}
.container > div > .header > span {
    display:inline-block;
    width:22%;
    height:3rem;
    line-height:3rem;
    font-size:1.2rem;
    font-weight:700;
    text-align: center; /*rgb(203,75,108)*/
    color: rgb(52,12,3);
    border-bottom-right-radius:0.3rem;
}
.container > div:nth-child(4n) > .header {
    border-bottom:0.2rem solid rgb(189,214,57);
}
.container > div:nth-child(4n) > .header > span {
    background:rgb(189,214,57);
}
.container > div:nth-child(4n+1) > .header {
    border-bottom:0.2rem solid rgb(240,135,29);
}
.container > div:nth-child(4n+1) > .header > span {
    background:rgb(240,135,29);
}
.container > div:nth-child(4n+2) > .header {
    border-bottom:0.2rem solid rgb(217,62,93);
}
.container > div:nth-child(4n+2) > .header > span {
    background:rgb(217,62,93);
}
.container > div:nth-child(4n+3) > .header {
    border-bottom:0.2rem solid rgb(72,192,234);
}
.container > div:nth-child(4n+3) > .header > span {
    background: rgb(72,192,234);
}

.profile .swiper-slide {
    overflow: hidden;
}
.profile .swiper-slide > img {
    width:100%;
}
.profile .swiper-slide > .tip {
    position: absolute;
    -webkit-transform: translate(-35%,0) rotate(-45deg);
    -moz-transform: translate(-35%,0) rotate(-45deg);
    -ms-transform: translate(-35%,0) rotate(-45deg);
    -o-transform: translate(-35%,0) rotate(-45deg);
    transform: translate(-35%,0) rotate(-45deg);
    width:30%;
    height:2rem;
    line-height:2.3rem;
    text-align: center;
    font-size:0.9rem;
    font-weight:500;
    color: rgb(52,12,3);
}
.profile .swiper-slide:nth-child(3n) > .tip {
    background: rgb(72,192,234);
}
.profile .swiper-slide:nth-child(3n+1) > .tip {
    background: rgb(189,214,57);
}
.profile .swiper-slide:nth-child(3n+2) > .tip {
    background: rgb(240,135,29);
}
.row_list  li {
    width:100%;
    min-height: 3rem;
    line-height:3rem;
    font-size:1rem;
    background:rgb(35,33,29);
    border:0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.row_list  li > span {
    display:inline-block;
    background:rgb(35,33,29);
}
.row_list  li > span:nth-child(1) {
    height:100%;
    width:18%;
    text-align: center;
}
.row_list  li > span:nth-child(2){
    padding-left:1%;
    width:80%;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius:  0.15rem;
}
.row_list  li:nth-child(4n) > span:nth-child(2){
    border-left:0.15rem solid rgb(230,111,27);
}
.row_list  li:nth-child(4n+1) > span:nth-child(2){
    border-left:0.15rem solid rgb(72,192,234);
}
.row_list  li:nth-child(4n+2) > span:nth-child(2){
    border-left:0.15rem solid rgb(211,73,50);
}
.row_list  li:nth-child(4n+3) > span:nth-child(2){
    border-left:0.15rem solid rgb(189,214,57);
}

.education {
    height:auto;
}
.education > .header{
    margin-top:0.5rem;
    background: rgb(5,0,0) !important;
}
.education > .content {
    margin-top:0.5rem;
}
.school {
    width:100%;
    margin-top:0.3rem;
    font-size:1.2rem;
    text-align:center;
    line-height:2rem;
    background: rgb(35,33,29);
    border: 0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.school > .title {
    position: relative;
    width:100%;
    line-height:3rem;
    height:3rem;
    background: rgb(35,33,29);
    border-bottom: 0.09rem solid rgb(25,19,22);
}
.school > .title > span {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:inline-block;
}
.school > .major {
    height:3rem;
    line-height:3rem;
    width:100%;
    background: rgb(35,33,29);
    border-bottom: 0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.school > .major > span {
    display: inline-block;
    width:48%;
}
.school > .title > span:nth-child(1) {
    width:30%;
    z-index:99;
    font-weight:700;
    background: rgb(35,33,29);
}
.school > .title > .line {
    width:60%;
    height:0.09rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:0;
}
.school:nth-child(4n+1) > .title > span:nth-child(1) {
    color:rgb(211,73,50);
    border-top:0.1rem solid rgb(72,192,234);
    border-bottom:0.1rem solid rgb(72,192,234);
}
.school:nth-child(4n+1) > .title > .line {
    background:rgb(189,214,57);
}
.school:nth-child(4n+2) > .title > span:nth-child(1) {
    color:rgb(240,135,29);
    border-top:0.1rem solid rgb(189,214,57);
    border-bottom:0.1rem solid rgb(189,214,57);
}
.school:nth-child(4n+2) > .title > .line {
    background:rgb(72,192,234);
}
.school:nth-child(4n+3) > .title > span:nth-child(1) {
    color:rgb(72,192,234);
    border-top:0.1rem solid rgb(240,135,29);
    border-bottom:0.1rem solid rgb(240,135,29);
}
.school:nth-child(4n+3) > .title > .line {
    background:rgb(211,73,50);
}
.school > .main {
    text-align: left;
    font-size: 1.0rem;
    padding:0.5rem;
}

.skill .num_list li{
    position:relative;
    width:100%;
    height:4rem;
    line-height:4rem;
    background:rgb(35,33,29);
    border:0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.num_list li >.num {
    position: absolute;
    left:0;
    top:0;
    z-index:99;
    width:15%;
    font-size:1.5rem;
    text-align: center;
}
.num_list li:nth-child(4n) > .num{
    background: rgb(230,111,27);
}
.num_list li:nth-child(4n+1) > .num{
    background:rgb(72,192,234);
}
.num_list li:nth-child(4n+2) > .num{
    background: rgb(211,73,50);
}
.num_list li:nth-child(4n+3) > .num{
    background: rgb(189,214,57);
}
.num_list li >.content{
    position: absolute;
    left:15%;
    top:0;
    width:84%;
    line-height:2rem;
    height:4rem;
    padding:0 0.2rem;
}

.project_item {
    margin-bottom:0.3rem;
    border:0.09rem solid rgb(35,33,29);
    overflow: hidden;
}
.project_item > ul > li {
    width: 100%;
    min-height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    background: rgb(35,33,29);
    border: 0.09rem solid rgb(25,19,22);
    overflow: hidden;
}
.project_item  li > span {
    display:inline-block;
    background:rgb(35,33,29);
}
.project_item  li > span:nth-child(1) {
    height:100%;
    width:18%;
    text-align: center;
}
.project_item  li > span:nth-child(2){
    padding-left:1%;
    width:80%;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}
.project_item  li:nth-child(4n) > span:nth-child(2){
    border-left:0.1rem solid rgb(230,111,27);
}
.project_item  li:nth-child(4n+1) > span:nth-child(2){
    border-left:0.1rem solid rgb(72,192,234);
}
.project_item  li:nth-child(4n+2) > span:nth-child(2){
    border-left:0.1rem solid rgb(211,73,50);
}
.project_item  li:nth-child(4n+3) > span:nth-child(2){
    border-left:0.1rem solid rgb(189,214,57);
}
.project_item  li:nth-child(4n) > span:nth-child(1){
    border-right:0.1rem solid rgb(230,111,27);

}
.project_item  li:nth-child(4n+1) > span:nth-child(1){
    border-right:0.1rem solid rgb(72,192,234);

}
.project_item  li:nth-child(4n+2) > span:nth-child(1){
    border-right:0.1rem solid rgb(211,73,50);

}
.project_item  li:nth-child(4n+3) > span:nth-child(1){
    border-right:0.1rem solid rgb(189,214,57);
}
.project_item .detail {}
.hobby_items > li {
    height:3rem;
    line-height:3rem;
    text-align: center;
    background:rgb(35,33,29);
    border:0.1rem solid rgb(35,33,29);
    overflow: hidden;
}
.hobby_items > li > span {
    width:30%;
    border:0.1rem solid rgb(4,0,0);
    display: inline-block;
    font-weight:600;
    color:rgb(52,12,3);
}
.hobby_items > li > span:nth-child(3n) {
    background:rgb(240,135,29);
}
.hobby_items > li > span:nth-child(3n+1) {
    background:rgb(72,192,234);
}
.hobby_items > li > span:nth-child(3n+2) {
    background:rgb(189,214,57);
}
.hobby_items > li:nth-child(2n) > span{
    -webkit-transform: skew(30deg,0);
    -moz-transform: skew(30deg,0);
    -ms-transform: skew(30deg,0);
    -o-transform: skew(30deg,0);
    transform: skew(30deg,0);
}
.hobby_items > li:nth-child(2n+1) > span{
    -webkit-transform: skew(-30deg,0);
    -moz-transform: skew(-30deg,0);
    -ms-transform: skew(-30deg,0);
    -o-transform: skew(-30deg,0);
    transform: skew(-30deg,0);
}

@-webkit-keyframes jump_down {
    0% {
        -webkit-transform: scale(0.9);
    }
    50%{
        -webkit-transform: scale(0.6);
    }
    100%{
        -webkit-transform: scale(0.9);
    }
}
@-moz-keyframes jump_down {
    0% {
        -moz-transform: scale(0.9);
    }
    50%{
        -moz-transform: scale(0.6);
    }
    100%{
        -moz-transform: scale(0.9);
    }
}
@-ms-keyframes jump_down {
    0% {
        -ms-transform: scale(0.9);
    }
    50%{
        -ms-transform: scale(0.6);
    }
    100%{
        -ms-transform: scale(0.9);
    }
}
@-o-keyframes jump_down {
    0% {
        -o-transform: scale(0.9);
    }
    50%{
        -o-transform: scale(0.6);
    }
    100%{
        -o-transform: scale(0.9);
    }
}
@keyframes jump_down {
    0% {
        transform: scale(0.9);
    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(0.9);
    }
}

@-webkit-keyframes jump_up {
    from {
        -webkit-transform: scale(0.9) translateY(0rem);
    }
    to{
        -webkit-transform: scale(0.9) translateY(-2rem);
    }
}
@-moz-keyframes jump_up {
    from {
        -moz-transform: scale(0.9) translateY(0rem);
    }
    to{
        -moz-transform: scale(0.9) translateY(-2rem);
    }
}
@-ms-keyframes jump_up {
    from {
        -ms--ms-transform: scale(0.9) translateY(0rem);
    }
    to{
        -ms-transform: scale(0.9) translateY(-2rem);
    }
}
@-o-keyframes jump_up {
    from {
        -o-transform: scale(0.9) translateY(0rem);
    }
    to{
        -o-transform: scale(0.9) translateY(-2rem);
    }
}
@keyframes jump_up {
    from {
        transform: scale(0.9) translateY(0rem);
    }
    to{
        transform: scale(0.9) translateY(-2rem);
    }
}